*/*/.classpath
*/*/.project
*/*/target/
*/*/.settings/
*/.classpath
*/.project
*/target/
*/.settings/
.DS_Store
*/logs/
.idea/
*.iml
*/.iml
bin/
*/bin/
*.log
*/*.log
*/log.txt
*/node_modules/
*/.tern-project
*/npmInstall.launch
.project
.settings/
target/
.classpath
.factorypath
*/.factorypath
*/*/.factorypath
*/*/*/.factorypath
files-upload/
*/files-upload/
*/*/files-upload/

